html {
  background-image: url('assets/calendar.png');
  background-attachment: fixed;
  /* The background will remain stationary when the page's contents are scrolled through. */
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;

}

div.textbox {
  background-color: rgba(221, 209, 188, .6);
}

img {
  /* This centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  letter-spacing: 0.4em;
}

p {
  text-indent: 35%;
}

ul {
  text-indent: 37%;
  padding-bottom: 15px;
  list-style: none;
}

p.one:first-letter {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
