img {
  display: inline-block;
  margin-top: 10px;
  padding: 2px;
  width: 500px;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

p.one:first-letter {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
